.navbar {
  height: 70.6px;
  background: rgb(35, 37, 54);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}

a {
  /* Body 1 */
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.nav button {
  width: 149.76px;
  height: 56.42px;
  border: 0;
  background: rgb(255, 255, 255);
  color: rgb(35, 37, 54);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 40px;
  cursor: pointer;
}
.links {
  display: flex;
  align-items: center;
  gap: 40px;
}
